<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>password</title>
</head>
<body>
<h1>Change password</h1>
<!--<form th:action="@{/update}" method="get" th:object="${user}">-->
    <!--<p>User ID: </p><input type="text" th:field="*{userId}" readonly="readonly" />-->
<!--</form>-->
<form th:action="@{/password}" method="post" th:object="${pwc}">
    <p>Old password: </p><input type="text" th:field="*{oldpw}"/>
    <p>New password: </p><input type="text" th:field="*{pw1}" />
    <p>Repeat new password: </p><input type="text" th:field="*{pw2}" />
    <p><input type="submit" value="Submit" /></p>
</form>
<p><a href="/" class="btn">Back</a></p>
</body>
</html>